<mat-sidenav-container class="custom-container-height">
    <mat-sidenav class="drawer-width" #sidenav mode="side" opened="true">
        <img src="../../../assets/images/logo.jpg" class="img-style" >
        <mat-list>
            <div *ngFor="let sidenavButton of sidenavButtons">
                <mat-divider></mat-divider>

                <mat-list-item [routerLink]="sidenavButton.pageAddress">
                    <span class="material-icons icon-style">{{ sidenavButton.iconName }}</span>
                    <span class="label-text ">{{ sidenavButton.label }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>

            </div>
        </mat-list>
    </mat-sidenav>

    <mat-toolbar color="primary" class="toolbar-height">
        <button mat-button (click)="toggleSideNav()">
            <i class="material-icons">reorder</i>
        </button>
    <span class="business-class">BUSINESS NAME</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>