.toolbar-height{
    height: 50px !important;
}

.container-height{
    height: 100vh;
}

.drawer-width{
    width: 200px;
}
.custom-container-height{
    height: 100vh;
}
.img-style {
    max-width:100%; 
}

.label-text {
    font-size: 21px;
    font-family: cursive;
}
.icon-style{
    padding-right: 13px !important;
    font-weight: 600 !important;
}
.business-class{
    font-family: cursive;
    margin: auto;
}